$theme-dark = #001529
$theme-dark-sub-menu = #000c17
$theme-dark-avatar-wrap-border = #000c17

$theme-light = #fff
$theme-light-avatar-wrap-border = #f8f8f9
$theme-light-text = #495060  // 亮色模式下文字颜色

// primary 的风格是渐变色
$theme-primary-first = #1e93ff
$theme-primary-second = #2173dc
$theme-primary-three = #1d42ab

// 导出变量
:export {
  $theme-light-text: $theme-light-text;
}